Repository pysal/libpysal, pull requests merged in 2020-07, with the labels that each got.

#311 adding dependabot.yml
  .github/dependabot.yml
Labels: GitHub Actions, requirements, tests

#310 Update CONTRIBUTING.md with pre-commit instructions
  .github/CONTRIBUTING.md
  README.rst
  requirements_dev.txt
Labels: docs, requirements, style/formatting

#300 TST: Remove unneeded calls to pysal_examples.get_path.
  libpysal/io/iohandlers/tests/test_arcgis_dbf.py
  libpysal/io/iohandlers/tests/test_arcgis_swm.py
  libpysal/io/iohandlers/tests/test_arcgis_txt.py
  libpysal/io/iohandlers/tests/test_dat.py
  libpysal/io/iohandlers/tests/test_geobugs_txt.py
  libpysal/io/iohandlers/tests/test_gwt.py
  libpysal/io/iohandlers/tests/test_mat.py
  libpysal/io/iohandlers/tests/test_mtx.py
  libpysal/io/iohandlers/tests/test_stata_txt.py
  libpysal/io/iohandlers/tests/test_wk1.py
  libpysal/io/util/tests/test_weight_converter.py
Labels: rough edge, tests

#314 removing setup.cfg
  setup.cfg
Labels: maintenance
