Repository pysal/libpysal, pull requests merged in 2020-03, with the labels that each got.

#265 DOC: Udpdating citations, minor description editing
  libpysal/examples/10740/README.md
  libpysal/examples/baltim/README.md
  libpysal/examples/burkitt/README.md
  libpysal/examples/chicago/README.md
  libpysal/examples/geodanet/README.md
  libpysal/examples/juvenile/README.md
  libpysal/examples/sids2/README.md
  libpysal/examples/snow_maps/README.md
  libpysal/examples/tokyo/README.md
Labels: examples, maintenance

#267 Initializing complete Github Actions CI
  .github/workflows/unittests.yml
Labels: tests

#269 Polish up GitHub Action residuals
  .github/workflows/test-conda.yml
  .github/workflows/test-push.yml
  .github/workflows/unittests.yml
  .travis.yml
  README.rst
  appveyor.yml
  ci/36.yaml
  ci/37.yaml
  ci/38.yaml
Labels: tests

#270 dropping nose in ci/36.yml
  ci/36.yaml
Labels: tests

#255 Bugfix
  libpysal/cg/kdtree.py
Labels: bug, cg
