Repository pysal/libpysal, pull requests merged in 2020-04, with the labels that each got.

#264 GH-263: Don't implicitly import examples when importing base library
  libpysal/examples/base.py
Labels: WIP, examples, rough edge

#274 Handle connection errors for remote datasets
  .github/workflows/unittests.yml
  README.rst
  libpysal/examples/remotes.py
Labels: WIP, examples, rough edge

#275 removing six from ci
  ci/36.yaml
  ci/37.yaml
  ci/38.yaml
  docs/_modules/libpysal/cg/kdtree.html
  docs/_static/images/pysal_favicon.ico
  docs/_static/pysal_favicon.ico
  docs/generated/libpysal.cg.Grid.html
  docs/generated/libpysal.cg.PointLocator.html
  docs/generated/libpysal.cg.PolygonLocator.html
  docs/generated/libpysal.cg.geointerpolate.html
  docs/generated/libpysal.cg.harcdist.html
  docs/generated/libpysal.weights.KNN.html
  docs/generated/libpysal.weights.ODW.html
  docs/generated/libpysal.weights.Queen.html
  docs/generated/libpysal.weights.Rook.html
  docs/generated/libpysal.weights.W.html
  docs/generated/libpysal.weights.WSP2W.html
  docs/generated/libpysal.weights.attach_islands.html
  docs/generated/libpysal.weights.block_weights.html
  docs/generated/libpysal.weights.full2W.html
  docs/generated/libpysal.weights.get_ids.html
  docs/generated/libpysal.weights.hexLat2W.html
  docs/generated/libpysal.weights.higher_order.html
  docs/generated/libpysal.weights.higher_order_sp.html
  docs/generated/libpysal.weights.lat2W.html
  docs/generated/libpysal.weights.netW.html
  docs/generated/libpysal.weights.remap_ids.html
  docs/generated/libpysal.weights.vecW.html
  docs/generated/libpysal.weights.w_clip.html
  docs/generated/libpysal.weights.w_difference.html
  docs/generated/libpysal.weights.w_intersection.html
  docs/generated/libpysal.weights.w_subset.html
  docs/generated/libpysal.weights.w_symmetric_difference.html
  docs/generated/libpysal.weights.w_union.html
  docs/searchindex.js
  docsrc/_static/images/pysal_favicon.ico
Labels: tests

#277 Docs ci badge
  docs/_sources/index.rst.txt
  docs/index.html
  docsrc/index.rst
Labels: docs

#276 add weights writing as a method on weights.
  libpysal/weights/tests/test_weights.py
  libpysal/weights/weights.py
Labels: enhancement, weights

#278 Return alpha option & use pygeos for alphashaping if available
  libpysal/cg/alpha_shapes.py
  libpysal/cg/tests/data/alpha_05.cpg
  libpysal/cg/tests/data/alpha_05.dbf
  libpysal/cg/tests/data/alpha_05.gpkg
  libpysal/cg/tests/data/alpha_05.shp
  libpysal/cg/tests/data/alpha_05.shx
  libpysal/cg/tests/data/alpha_auto.cpg
  libpysal/cg/tests/data/alpha_auto.dbf
  libpysal/cg/tests/data/alpha_auto.gpkg
  libpysal/cg/tests/data/alpha_auto.shp
  libpysal/cg/tests/data/alpha_auto.shx
  libpysal/cg/tests/data/alpha_fifth.cpg
  libpysal/cg/tests/data/alpha_fifth.dbf
  libpysal/cg/tests/data/alpha_fifth.gpkg
  libpysal/cg/tests/data/alpha_fifth.shp
  libpysal/cg/tests/data/alpha_fifth.shx
  libpysal/cg/tests/data/alpha_fourth.cpg
  libpysal/cg/tests/data/alpha_fourth.dbf
  libpysal/cg/tests/data/alpha_fourth.gpkg
  libpysal/cg/tests/data/alpha_fourth.shp
  libpysal/cg/tests/data/alpha_fourth.shx
  libpysal/cg/tests/data/alpha_tenth.cpg
  libpysal/cg/tests/data/alpha_tenth.dbf
  libpysal/cg/tests/data/alpha_tenth.gpkg
  libpysal/cg/tests/data/alpha_tenth.shp
  libpysal/cg/tests/data/alpha_tenth.shx
  libpysal/cg/tests/data/eberly_bounding_circles.gpkg
  libpysal/cg/tests/test_ashapes.py
Labels: cg, enhancement

#280 ENH: allow specific buffer in fuzzy_contiguity
  libpysal/weights/tests/test_util.py
  libpysal/weights/util.py
Labels: enhancement, weights

#273 Mac builds seem to take longer — bump up timeout
  .github/workflows/unittests.yml
Labels: tests
