Repository pysal/libpysal, pull requests merged in 2021-06, with the labels that each got.

#410 Do not poll remotes on init.
  libpysal/cg/ops/tests/test_tabular.py
  libpysal/examples/__init__.py
  libpysal/examples/remotes.py
Labels: examples

#413 Update unittests, etc
  .github/workflows/build_docs.yml
  .github/workflows/release_and_publish.yml
  .github/workflows/unittests.yml
  ci/39.yaml
  docs/conf.py
  setup.py
Labels: ci, github_actions

#415 classify repo as Python
  .gitattributes
Labels: maintenance

#418 update conf.py
  docs/conf.py
Labels: docs
