Repository pysal/libpysal, pull requests merged in 2023-09, with the labels that each got.

#554 Coindicent tests
  libpysal/graph/_kernel.py
  libpysal/graph/_triangulation.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
  libpysal/graph/tests/test_triangulation.py
Labels: graph

#557 adjacency as mutliindex series
  ci/38-minimal.yaml
  libpysal/graph/_parquet.py
  libpysal/graph/_set_ops.py
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
  libpysal/graph/tests/test_builders.py
  libpysal/graph/tests/test_triangulation.py
  requirements.txt
Labels: graph

#560 set nopython=True in jit in alpha shapes
  libpysal/cg/alpha_shapes.py
Labels: maintenance

#559 minor cleanups of geographs
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
  libpysal/graph/tests/test_builders.py
Labels: graph

#561 perimeter weights, fix kernel, set_ops
  libpysal/graph/_contiguity.py
  libpysal/graph/_kernel.py
  libpysal/graph/_set_ops.py
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_builders.py
Labels: graph

#563 Geographs
  .github/workflows/unittests.yml
  ci/310.yaml
  ci/311-dev.yaml
  ci/311.yaml
  ci/38-minimal.yaml
  ci/39.yaml
  libpysal/graph/__init__.py
  libpysal/graph/_contiguity.py
  libpysal/graph/_kernel.py
  libpysal/graph/_parquet.py
  libpysal/graph/_set_ops.py
  libpysal/graph/_spatial_lag.py
  libpysal/graph/_triangulation.py
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/conftest.py
  libpysal/graph/tests/test_base.py
  libpysal/graph/tests/test_builders.py
  libpysal/graph/tests/test_contiguity.py
  libpysal/graph/tests/test_kernel.py
  libpysal/graph/tests/test_spatial_lag.py
  libpysal/graph/tests/test_triangulation.py
  libpysal/graph/tests/test_utils.py
  requirements.txt
  requirements_tests.txt
Labels: graph

#565 remove `conftest.py` in graph tests
  libpysal/graph/tests/conftest.py
Labels: graph

#564 implement fuzzy contiguity on Graph
  ci/38-minimal.yaml
  libpysal/graph/_contiguity.py
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_builders.py
  libpysal/graph/tests/test_contiguity.py
Labels: graph

#567 Update `test_contiguity.py` – minor typos
  libpysal/graph/tests/test_contiguity.py
Labels: graph

#570 Revert "Bump codecov/codecov-action from 3 to 4"
  .github/workflows/unittests.yml
Labels: dependencies, github_actions

#572 DOC: add Graph to API docs
  docs/api.rst
  libpysal/graph/base.py
Labels: graph

#571 finalise kernel constructors in graph
  libpysal/graph/_contiguity.py
  libpysal/graph/_kernel.py
  libpysal/graph/_triangulation.py
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_kernel.py
Labels: graph

#574 triangulation tests + better ci setup
  .github/workflows/unittests.yml
  ci/311-dev.yaml
  ci/311-no-optional.yaml
  libpysal/graph/_triangulation.py
  libpysal/graph/tests/test_triangulation.py
Labels: graph

#575 implement set ops and to_networkx
  libpysal/graph/_set_ops.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
  libpysal/graph/tests/test_set_ops.py
Labels: graph

#577 implement higher_order, components via sparse.matrix
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
Labels: graph

#578 GHA: update release action
  .github/workflows/release_and_publish.yml
Labels: github_actions

#579 overhaul infrastructure
  .github/release.yml
  .github/workflows/unittests.yml
  Dockerfile
  MANIFEST.in
  Makefile
  THANKS.txt
  authors.txt
  docs/conf.py
  examples.ipynb
  figs/lisamaps.png
  figs/lisamaps7.png
  libpysal/__init__.py
  libpysal/_version.py
  notebooks/fetch.ipynb
  pyproject.toml
  readthedocs.yml
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
  requirements_plus_conda.txt
  requirements_plus_pip.txt
  requirements_tests.txt
  setup.cfg
  setup.py
  tools/gitcount.ipynb
  versioneer.py
Labels: maintenance
