Repository pysal/libpysal, pull requests merged in 2024-05, with the labels that each got.

#708 add back `numba` in Py312 tests
  ci/312-dev.yaml
  ci/312.yaml
Labels: ci

#709 BUG: misaligned weights in the gabriel graph
  libpysal/graph/_triangulation.py
  libpysal/graph/tests/test_builders.py
Labels: bug, graph

#710 PERF: don't build coincident lookup if not needed
  libpysal/graph/_kernel.py
  libpysal/graph/_triangulation.py
  libpysal/graph/_utils.py
Labels: enhancement, graph

#694 ENH: add Graph.build_h3
  ci/310.yaml
  ci/311.yaml
  ci/312-dev.yaml
  ci/312.yaml
  libpysal/graph/_indices.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_indices.py
Labels: enhancement, graph

#698 ENH: Graph IO to classic weights file formats
  ci/312-dev.yaml
  libpysal/__init__.py
  libpysal/graph/__init__.py
  libpysal/graph/_contiguity.py
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/io/_gal.py
  libpysal/graph/io/_gwt.py
  libpysal/graph/io/_parquet.py
  libpysal/graph/tests/test_base.py
Labels: enhancement, graph

#714 Refactor handling of coincident points in triangulation
  libpysal/graph/_kernel.py
  libpysal/graph/_triangulation.py
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_builders.py
  libpysal/graph/tests/test_kernel.py
  libpysal/graph/tests/test_triangulation.py
Labels: graph

#715 PERF: sorting-related improvements in Graph
  libpysal/graph/_utils.py
  libpysal/graph/base.py
Labels: graph
