Repository pysal/libpysal, pull requests merged in 2024-08, with the labels that each got.

#760 Fix for Graph.describe() when the graph has a string index (#759)
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
Labels: bug, graph

#761 Add exponential kernel to Graph
  libpysal/graph/_kernel.py
  libpysal/graph/tests/test_kernel.py
Labels: enhancement, graph

#765 ENH: ensure lag_spatial is compatible with both W and Graph
  libpysal/weights/spatial_lag.py
Labels: enhancement
