Repository pysal/libpysal, pull requests merged in 2024-07, with the labels that each got.

#737 ENH: use representative_point instead of centroid in Graph plotting
  libpysal/graph/_plotting.py
  libpysal/graph/tests/test_plotting.py
Labels: enhancement, graph

#744 test against intel & apple silicon
  .github/workflows/unittests.yml
Labels: ci

#747 ensure that Graph._repr_ fits to 80 characters
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
Labels: graph

#743 BUG: fix handling of non-isolate self-weights of 0 and order preservation
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
Labels: bug, graph

#746 BUG: fix categorical lag for custom index
  libpysal/graph/_spatial_lag.py
  libpysal/graph/tests/test_spatial_lag.py
Labels: bug, graph

#742 ENH: add Graph.summary with s0, s1, s2 and similar properties to Graph
  docs/api.rst
  libpysal/graph/__init__.py
  libpysal/graph/_summary.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
  libpysal/graph/tests/test_summary.py
Labels: enhancement, graph

#739 fix higher_order contiguity including lower order
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
  libpysal/weights/util.py
Labels: bug

#753 make asymmetry computation in Graph summary optional
  libpysal/graph/_summary.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_summary.py
Labels: graph

#740 ENH: add xarray interface to Graph
  libpysal/graph/_raster.py
  libpysal/graph/base.py
  libpysal/graph/io/_parquet.py
  libpysal/graph/tests/test_raster.py
  libpysal/weights/raster.py
Labels: enhancement, graph

#754 DOC: move Graph from experimental to stable API
  docs/api.rst
Labels: docs, graph

#733 W to g guide
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/migration.rst
  docs/user-guide/data/examples.ipynb
  docs/user-guide/data/fetch.ipynb
  docs/user-guide/graph/matching-graph.ipynb
  docs/user-guide/graph/w_g_migration.ipynb
  docs/user-guide/intro.rst
  docs/user-guide/weights/Raster_awareness_API.ipynb
  docs/user-guide/weights/categorical_lag.ipynb
  docs/user-guide/weights/intro.rst
  docs/user-guide/weights/matching-graph.ipynb
  docs/user-guide/weights/voronoi.ipynb
  docs/user-guide/weights/weights.ipynb
  scripts/w_g_comparison.py
Labels: WIP, docs

#755 add graph from travel network
  ci/310-latest.yaml
  ci/310-oldest.yaml
  ci/311-latest.yaml
  ci/312-dev.yaml
  ci/312-latest.yaml
  libpysal/graph/_network.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_builders.py
Labels: enhancement

#756 exposing mapping_distance in travel builder
  libpysal/graph/_network.py
  libpysal/graph/base.py
Labels: enhancement, graph

#757 W to g guide
  docs/index.rst
  docs/tutorial.rst
  docs/user-guide/data/fetch.ipynb
  docs/user-guide/graph/intro.rst
  docs/user-guide/graph/w_g_migration.ipynb
Labels: docs

#758 DOC: W to g guide prune and typos
  docs/user-guide/weights/matching-graph.ipynb
  notebooks/Raster_awareness_API.ipynb
  notebooks/examples.ipynb
  notebooks/fetch.ipynb
  notebooks/io.ipynb
  notebooks/matching-graph.ipynb
  notebooks/voronoi.ipynb
  notebooks/weights.ipynb
  scripts/w_g_comparison.py
Labels: docs
