Repository pysal/libpysal, pull requests merged in 2024-06, with the labels that each got.

#717 ENH: include Graph.describe() to describe neighbourhood values
  libpysal/graph/_utils.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
Labels: enhancement, graph

#711 ENH: implement Graph.__repr__
  libpysal/graph/base.py
  libpysal/graph/tests/test_base.py
Labels: enhancement, graph

#716 Categorical spatial lag using the Graph
  libpysal/graph/_spatial_lag.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_spatial_lag.py
Labels: graph

#719 COMPAT: remove typing from Graph.describe
  libpysal/graph/base.py
Labels: rough edge

#718 Add timeout in request to handle off-line use cases in examples
  libpysal/examples/remotes.py
Labels: examples

#720 ENH: pass kwargs to buffer in fuzzy_contiguity
  libpysal/graph/_contiguity.py
  libpysal/graph/base.py
  libpysal/graph/tests/test_builders.py
  libpysal/graph/tests/test_contiguity.py
Labels: graph

#721 inserted chicagoSDOH as sample data
  libpysal/examples/remotes.py
  libpysal/examples/tests/test_available.py
Labels: examples

#723 COMPAT: fix numpy 2.0 incompatibility
  libpysal/cg/voronoi.py
  libpysal/examples/remotes.py
Labels: maintenance

#725 COMPAT: ensure argsort output has a stable order in numpy 2
  libpysal/graph/_utils.py
Labels: tests

#727 DOC: Remove unused mkdocs-jupyter dependency
  ci/312.yaml
  pyproject.toml
Labels: docs, requirements, dependencies

#728 DOC: Fix a couple Sphinx warnings
  libpysal/graph/base.py
  libpysal/weights/contiguity.py
Labels: docs

#731 CI: ignore spvcm, add osmnx to env, xfail stuff out of control in reverse dep testing
  .github/workflows/reverse.yml
Labels: github_actions, downstream

#729 Use importlib to implement simport
  libpysal/common.py
Labels: maintenance

#732 CI: do not xfail momepy in reverse checks
  .github/workflows/reverse.yml
Labels: ci
